/* Global */

body {
    background-color: #F1F1F1;
    color: #0F0F0F;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 30px;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #FFFFFF;
    width: max-content;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px #D8D8D8;
}

h1 {
    margin: 0;
    font-size: 1.75em;
    line-height: 1.25em;
}

h2 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

/* Form layout */

form {
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
}

.country-fieldset {
    grid-area: 1 / 1 / 2 / 3;
}

.postcode-fieldset {
    grid-area: 2 / 1 / 3 / 3;
}

.email-fieldset {
    grid-area: 3 / 1 / 4 / 3;
}

.password-reqs {
    border-left: 1px solid #8C8C8C;
    padding-left: 20px;
    grid-area: 4 / 2 / 6 / 3;
}

.password-reqs span {
    font-size: 0.9em;
    display: block;
}

fieldset {
    position: relative;
    vertical-align: center;
    border: 0;
    padding: 0;
}

fieldset:first-of-type {
    margin-top: 30px;
}

input, select {
    border: 1px solid #8C8C8C;
    color: #0F0F0F;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    padding: 5px;
}

input {
    width: calc(100% - 10px);
}

select {
    width: 100%;
}

input:focus, select:focus {
    border-color: #0F0F0F;
    outline: 1px solid #0F0F0F;
}

/* Sign Up Button */

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-area: 6 / 1 / 7 / 3;
}

button {
    border: 0;
    color: #FFFFFF;
    background-color: #1772ED;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 30px;
}

button:hover {
    background-color: #1156B2;
    cursor: pointer;
}